.about
    @include flex(center, center, column)
    width: 100%
    flex-grow: 1
    .about__header
        @include h2-wrapper
        .about__h2
            @include h2-style
            @include mq-land(tablet-wide)
                transform: translate(20vw)
                transition: .5s linear
                opacity: 0
            &::after
                @include h2-after
                @include mq(tablet)
                    width: 100px
                    height: 5px
        .about__h2--animate
            transform: translate(0)
            opacity: 1
    .about__wrap
        @include flex(center,center,row)
        flex-wrap: wrap
        margin: 20px auto
        @include mq-land(desktop)
            margin: 40px 5%
        @include mq-land(desktop-wide)
            margin: 40px 10%
        @include mq-land(big-desktop)
            margin: 60px 15% 
        .about__pros
            @include flex(flex-start, center, column)
            height: 12em
            width: 42%
            margin: 0 auto
            @include mq(tablet)
                height: 17em
            @include mq-land(tablet)
                height: 17em
            @include mq (tablet-wide)
                width: 22%
            @include mq-land (tablet-wide)
                width: 22%
            .about__six-angles
                @include flex(center, center, column)
                width: 80px
                height: 80px
                background-color: $tone-color
                clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0)
                @include mq(tablet)
                    width: 120px
                    height: 120px
                @include mq-land(tablet)
                    width: 120px
                    height: 120px
                @include mq-land(tablet-wide)
                    transform: rotateY(80deg)
                    opacity: 0
                    transition: .7s linear
                .about__six-angles-icon
                    color: $white-color
                    font-size: 30px
                    @include mq(tablet)
                        font-size: 42px
                    @include mq-land(tablet)
                        font-size: 42px
            .about__six-angles--animate
                opacity: 1
                transform: rotateY(0)
            .about__caption
                margin: 10px auto 5px auto
                font-family: $family-raleway
                font-size: 16px
                font-weight: bold
                color: $font-bgc
                @include mq(tablet)
                    font-size: 24px
                @include mq-land(tablet)
                    font-size: 24px
                @include mq-land(tablet-wide)
                    opacity: 0
                    tranisition: .5s linear
                    color: $white-color
            .about__caption--animate
                opacity: 1
                color: $font-bgc
            .about__description
                font-family: $family-raleway
                font-weight: 400
                font-size: 11px
                text-align: center
                color: $font-bgc
                tranisition: .6s linear
                @include mq(tablet)
                    font-size: 16px
                @include mq-land(tablet)
                    font-size: 16px
                @include mq-land(tablet-wide)
                    opacity: 0
            .about__description--animate
                opacity: 1
    .about__wrapper
        @include flex(center,center,column)
        width: 90%
        height: 40vh
        position: relative
        .about__react
            @include picturePng(react)
            @include animatedIcons
 
        .about__js
            @include picturePng(js)
            @include animatedIcons
            animation-delay : 0.8s
        .about__html
            @include picturePng(html)
            @include animatedIcons
            animation-delay : 1.6s
        .about__css

            @include picturePng(css)
            @include animatedIcons
            animation-delay : 2.4s
        .about__bootstrap
            @include picturePng(bootstrap)
            @include animatedIcons
            animation-delay : 3.2s
        .about__sass
            @include picturePng(sass)
            @include animatedIcons
            animation-delay : 4s
        .about__git
            @include picturePng(git)
            @include animatedIcons
            animation-delay : 4.8s
        
        .about__text-wrap
            @include flex(center,center,column)
            margin: 10px auto
            text-align: center
            transition: .6s ease-in
            @include mq-land(tablet-wide)
                transform: translateY(10vh)
                opacity: 0
        .about__text-wrap--animate
            opacity: 1
            transform: translate(0)
            .about__me-header
                font-family: $family-raleway
                font-size: 20px
                font-weight: bold
                color: $font-bgc
                margin: 10px auto
                @include mq(tablet)
                    font-size: 28px
            .about__me-description
                font-family: $family-raleway
                font-size: 11px
                text-align: center
                color: $font-bgc
                padding: 0 15px
                @include mq(tablet)
                    font-size: 16px
                    padding: 0 60px
