.about
    @include flex(center, center, column)
    width: 100%
  
    flex-grow: 1
    
    .about__header
        @include h2-wrapper
  
        .about__h2
            @include h2-style
            
            &::after
                @include h2-after
                @include mq(tablet)
                    width: 100px
                    height: 5px
    .about__wrap
        @include flex(center,center,row)
        flex-wrap: wrap
        margin: 20px auto
        @include mq-land(desktop)
            margin: 40px 5%
        @include mq-land(desktop-wide)
            margin: 40px 10%
        @include mq-land(big-desktop)
            margin: 60px 15% 
        .about__pros
            @include flex(flex-start, center, column)
            height: 12em
            width: 42%
            margin: 0 auto
            @include mq(tablet)
                height: 17em
            @include mq-land(tablet)
                height: 17em
            @include mq (tablet-wide)
                width: 22%
            @include mq-land (tablet-wide)
                width: 22%
            .about__six-angles
                @include flex(center, center, column)
                width: 80px
                height: 80px
                background-color: $tone-color
                clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0)
                @include mq(tablet)
                    width: 120px
                    height: 120px
                @include mq-land(tablet)
                    width: 120px
                    height: 120px
                .about__six-angles-icon
                    color: $white-color
                    font-size: 30px
                    @include mq(tablet)
                        font-size: 42px
                    @include mq-land(tablet)
                        font-size: 42px
            .about__caption
                margin: 10px auto 5px auto
                font-family: $family-raleway
                font-size: 16px
                font-weight: bold
                color: $font-bgc
                @include mq(tablet)
                    font-size: 24px
                @include mq-land(tablet)
                    font-size: 24px
            .about__description
                font-family: $family-raleway
                font-weight: 400
                font-size: 11px
                text-align: center
                color: $font-bgc
                @include mq(tablet)
                    font-size: 16px
                @include mq-land(tablet)
                    font-size: 16px
    .about__wrapper
        @include flex(center,center,column)
        width: 90%
        
        .about__text-wrap
            @include flex(center,center,column)
            margin: 10px auto
            .about__me-header
                font-family: $family-raleway
                font-size: 20px
                font-weight: bold
                color: $font-bgc
                margin: 10px auto
                @include mq(tablet)
                    font-size: 28px
            .about__me-description
                font-family: $family-raleway
                font-size: 11px
                text-align: center
                color: $font-bgc
                padding: 0 15px
                @include mq(tablet)
                    font-size: 16px
                    padding: 0 60px
