@keyframes myOrbit 
    0%
        transform: rotate(0deg) translateY(200px) rotate(0deg)
        opacity: 0
    20%
        opacity: 0
    30%
        opacity: 1
    70%
        opacity: 1
    80%
        opacity: 0
    100%
        transform: rotate(360deg) translateY(200px) rotate(-360deg)
        opacity: 0 
