.front
    @include flex(center, center, column)
    width: 100%
    height: 100%
    background-color: $bgc-color
    @include picturePng (dark)

    .front__face
        width: 40vw
        height: 40vw
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0)
        opacity: 0.9
        margin: 20px auto
        @include pictureJpg(me)
        @include mq (tablet)
            width: 30vw
            height: 30vw
            margin: 60px auto
    .front__text
        @include flex(center, center, column)
        text-align: center
        .front__text-h1
            font-family: $family-raleway
            font-size: 20px
            margin: 2vh auto
            font-weight: 300
            color: $white-color
            @include mq (tablet)
                font-size: 26px
            .front__span
                color: $bright-color
        .front__text-h2
            width: 80%
            font-weight: 400
            font-family: $family-raleway
            font-size: 14px
            color: $white-color
            margin: 0 auto 5vh
            @include mq (tablet)
                font-size: 18px 
        
        .front__button
            @include button-style
            @include mq (tablet)
                width: 30vw
                height: 3em
                font-size: 16px
                border: 1px solid #fff
            &:hover
                background-color: $tone-color
                border: none

