.nav
    @include flex (flex-end, center, row)
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: #2d2e38
    height: 10vh
    border-bottom: 4px solid $bright-color
    z-index: 2
    .nav__bar
        font-size: 22px
        margin: 0 30px
        color: $white-color
        .nav__bar-icon
    .nav__menu
        @include flex(flex-start, flex-start, column)
        background-color: #2d2e38
        position: absolute
        bottom: -40%
        left: 0
        height: 30%
        width: 100%
        z-index: 6
        transition:  0.3s ease-in-out
        opacity: 1
        .nav__wrap

            .nav__list
                @include flex(center, flex-start, column)
                list-style-type: none
                .nav__item
                    color: $white-color
                    font-family: $family-raleway
                    font-size: 1em
                    margin: 10px 0 0 25px