.nav

    .nav__bar
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 3rem
        background-color: #2d2e38
        z-index: 10000
        transition: 0.4s ease-in-out
        overflow: hidden
        @include mq(tablet)
            height: 0
        @include mq-land(tablet)
            height: 0
        .nav__toggle
            @include flex(flex-end, center, row)
            position: relative
            top: 0
            left: 0
            width: 100%
            height: 3rem
            padding: 0 20px
            color: $font-color
            cursor: pointer
            border-bottom: 4px solid $bright-color
            
            &::before
                content: "Menu"
                padding: 0 10px

            .nav__span
                position: relative
                width: 20px 
                height: 3rem
                &::before
                    content: ''
                    position: absolute
                    top: 20px
                    left: 0
                    width: 20px
                    height: 2px
                    background-color: $white-color
                    transition: 0.4s ease-in-out
                &::after
                    content: ''
                    position: absolute
                    bottom: 20px
                    left: 0
                    width: 20px
                    height: 2px
                    background-color: $white-color
                    transition: 0.4s ease-in-out
        .nav__toggle--active
            &::before
                content: "Ukryj"
            .nav__span
                &::before
                    transform: rotate(225deg)
                    top: 24px
                &::after
                    transform: rotate(135deg)
                    bottom: 22px
        .nav__list
            position: relative
            background-color: #2d2e38        
            @include mq(tablet)
                @include flex(center, center, row)
                padding-top: 5px
                width: 100%
                height: 100%
                position: absolute
                top: 50% 
                left: 50%
                transform: translate(-50%, -50%)
                border-bottom: 3px solid $bright-color
            @include mq-land(tablet)
                @include flex(center, center, row)
                padding-top: 5px
                width: 100%
                height: 100%
                position: absolute
                top: 50% 
                left: 50%
                transform: translate(-50%, -50%)
                border-bottom: 3px solid $bright-color
            .nav__item
                list-style-type: none
                color: $font-color
                cursor: pointer
                
                .nav__link
                    position: relative
                    text-decoration: none
                    display: block
                    padding: 10px 20px 
                    height: 3rem
                    color: $font-color
                    font-size: 1em
                    transition: 0.4s ease-in-out
                    @include mq(tablet)
                        text-transform: uppercase
                    @include mq-land(tablet)
                        text-transform: uppercase
                    &:hover
                        color: $bright-color
                    &:focus
                        transition: 0s
                        color: $bright-color
                .nav__link--color
                    color: $bright-color
                    transition: 0.4s ease-in-out

    .nav__bar--active
        height: 280px
    .nav__bar--sticky-big-screen
        height: 3rem
        @include mq(tablet)
            height: 3.5rem
        @include mq-land(tablet)
            height: 3.5rem        
.nav--active
    display: none