$bgc-color: #faefed
$font-color: #202031
$button-bgc: #454550
$gold-bgc: #c6ac85
$white-bgc: #fff
$gray-bgc: #5e5f61
$family-over: 'Cormorant Garamond', serif
$family-dancing: 'Dancing Script'
$family-playfair: 'Playfair Display', serif
$family-playfairSC: 'Playfair Display SC', serif
$family-rubik: 'Rubik','Poppins', sans-serif
$font-xsmall: 0.625rem
$font-small: 0.75rem
$font-medium: 1rem
$font-xmedium: 1.25rem
$font-big: 1.5rem
$font-large: 2rem