* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body .indexWrapper {
  width: 100%;
  height: 100%;
}

.nav {
  scroll-behavior: smooth;
}

.nav .nav__bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #2d2e38;
  height: 50px;
  z-index: 100;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}

.nav .nav__bar .nav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  color: #c5c6c7;
  cursor: pointer;
  border-bottom: 4px solid #66fcf1;
}

.nav .nav__bar .nav__toggle::before {
  content: 'Menu';
  padding: 0 10px;
}

.nav .nav__bar .nav__toggle .nav__span {
  position: relative;
  width: 20px;
  height: 50px;
}

.nav .nav__bar .nav__toggle .nav__span::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.nav .nav__bar .nav__toggle .nav__span::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.nav .nav__bar .nav__toggle--active::before {
  content: 'Close';
}

.nav .nav__bar .nav__toggle--active .nav__span::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 24px;
}

.nav .nav__bar .nav__toggle--active .nav__span::after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  bottom: 24px;
}

.nav .nav__bar .nav__list {
  position: relative;
  background-color: #2d2e38;
}

.nav .nav__bar .nav__list .nav__item {
  list-style-type: none;
  color: #c5c6c7;
}

.nav .nav__bar .nav__list .nav__item .nav__link {
  positio: relative;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  height: 50px;
  color: #c5c6c7;
  font-size: 1em;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav .nav__bar .nav__list .nav__item .nav__link:hover {
  -webkit-transition: 0s;
  transition: 0s;
  color: #66fcf1;
}

.nav .nav__bar--active {
  height: 300px;
}

.front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #0b0c10;
  background-image: url("../img/dark.png");
  background-position: center;
  background-size: auto;
}

.front .front__face {
  width: 40vw;
  height: 40vw;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
  opacity: 0.9;
  margin: 20px auto;
  background-image: url("../img/me.jpg");
  background-position: center;
  background-size: cover;
}

.front .front__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.front .front__text .front__text-h1 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin: 2vh auto;
  font-weight: 300;
  color: #fff;
}

.front .front__text .front__text-h1 .front__span {
  color: #66fcf1;
}

.front .front__text .front__text-h2 {
  width: 80%;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0 auto 5vh auto;
}

.front .front__text .front__button {
  width: 50%;
  height: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.front .front__text .front__button:hover {
  background-color: #66fcf1;
  border: none;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about .about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10em;
  width: 100%;
}

.about .about__header .about__h2 {
  font-size: 33px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-bottom: 15px;
}

.about .about__header .about__h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80px;
  height: 3px;
  background-color: #616161;
}

.about .about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
}

.about .about__wrap .about__pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 12em;
  width: 42%;
  margin: 0 auto;
}

.about .about__wrap .about__pros .about__six-angles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80px;
  height: 80px;
  background-color: #45a29e;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
}

.about .about__wrap .about__pros .about__six-angles .about__six-angles-icon {
  color: #fff;
  font-size: 30px;
}

.about .about__wrap .about__pros .about__caption {
  margin: 10px auto 5px auto;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #616161;
}

.about .about__wrap .about__pros .about__description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: #616161;
}

.about .about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.about .about__wrapper .about__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("../img/me.jpg");
  background-position: center;
  background-size: cover;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60vw;
  height: 60vw;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%, 50% 0);
}

.about .about__wrapper .about__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
}

.about .about__wrapper .about__text-wrap .about__me-header {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #616161;
  margin: 10px auto;
}

.about .about__wrapper .about__text-wrap .about__me-description {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  text-align: center;
  color: #616161;
}

.tech .tech__wrapper .tech__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10em;
  width: 100%;
}

.tech .tech__wrapper .tech__header .tech__h2 {
  font-size: 33px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #616161;
}

.tech .tech__wrapper .tech__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tech .tech__wrapper .tech__wrap .tech__learned .tech__h3 {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #616161;
}

.tech .tech__wrapper .tech__wrap .tech__learning .tech__h3 {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #616161;
}

.tech .tech__wrapper .tech__wrap .tech__to-learn .tech__h3 {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #616161;
}

.tech .tech__wrapper .tech__wrap .tech__technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  height: 2em;
  background-color: #45a29e;
  margin: 5px auto;
}

.tech .tech__wrapper .tech__wrap .tech__technology .tech__image {
  width: 30px;
  height: 30px;
}

.contact {
  background-image: url("../img/dark.png");
  background-position: center;
  background-size: auto;
}

.contact .contact__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10em;
  width: 100%;
}

.contact .contact__header .contact__h2 {
  font-size: 33px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-bottom: 15px;
  color: #fff;
}

.contact .contact__header .contact__h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80px;
  height: 3px;
  background-color: #616161;
  background-color: #fff;
}

.contact .contact__wrap .contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact__wrap .contact__form .contact__form-header {
  font-family: "Raleway", sans-serif;
  color: #66fcf1;
  font-size: 11px;
  padding-bottom: 10px;
}

.contact .contact__wrap .contact__form .contact__input {
  background-color: #616161;
  width: 90%;
  min-height: 40px;
  margin: 10px auto;
  outline: none;
  border: none;
  font-family: "Raleway", sans-serif;
  padding: 10px 10px;
  color: #66fcf1;
}

.contact .contact__wrap .contact__form .contact__input:focus {
  border: 1px solid #66fcf1;
}

.contact .contact__wrap .contact__form .contact__input::-webkit-input-placeholder {
  color: #fff;
}

.contact .contact__wrap .contact__form .contact__input:-ms-input-placeholder {
  color: #fff;
}

.contact .contact__wrap .contact__form .contact__input::-ms-input-placeholder {
  color: #fff;
}

.contact .contact__wrap .contact__form .contact__input::placeholder {
  color: #fff;
}

.contact .contact__wrap .contact__form .contact__text {
  background-color: #616161;
  font-family: "Raleway", sans-serif;
  margin: 10px 5%;
  width: 90%;
  height: 200px;
  border: none;
  outline: none;
  padding: 10px 10px;
  color: #66fcf1;
  resize: vertical;
  min-height: 100px;
}

.contact .contact__wrap .contact__form .contact__text:focus {
  border: 1px solid #66fcf1;
}

.contact .contact__wrap .contact__form .contact__text::-webkit-input-placeholder {
  color: #fff;
}

.contact .contact__wrap .contact__form .contact__text:-ms-input-placeholder {
  color: #fff;
}

.contact .contact__wrap .contact__form .contact__text::-ms-input-placeholder {
  color: #fff;
}

.contact .contact__wrap .contact__form .contact__text::placeholder {
  color: #fff;
}

.contact .contact__wrap .contact__form .contact__submit {
  width: 50%;
  height: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  margin: 20px auto 50px auto;
}

.contact .contact__wrap .contact__form .contact__submit:hover {
  background-color: #66fcf1;
  border: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-image: url("../img/dark.png");
  background-position: center;
  background-size: auto;
  border-top: 1px solid #66fcf1;
  scroll-behavior: auto;
}

.footer .footer__go-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #66fcf1;
  min-width: 40px;
  min-height: 50px;
  scroll-behavior: auto;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}

.footer .footer__go-up:hover {
  background-color: #44dad0;
}

.footer .footer__go-up:hover .footer__go-up-icon {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.footer .footer__go-up .footer__go-up-icon {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #fff;
  font-size: 28px;
}

.footer .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 8em;
}

.footer .footer__list .footer__social {
  position: relative;
  width: 3.5em;
  height: 3.5em;
  background-color: #2d2e38;
  z-index: 4;
}

.footer .footer__list .footer__social:hover .footer__icon {
  font-size: 32px;
  color: #66fcf1;
}

.footer .footer__list .footer__social .footer__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-size: 24px;
  color: #fff;
}

.footer .footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 5em;
}

.footer .footer__copy .footer__text {
  font-family: "Raleway", sans-serif;
  color: #616161;
}

.projects {
  margin: 10% auto 30% auto;
}

.projects .projects__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10em;
  width: 100%;
}

.projects .projects__header .projects__h2 {
  font-size: 33px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  padding-bottom: 15px;
}

.projects .projects__header .projects__h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 80px;
  height: 3px;
  background-color: #616161;
}

.projects .projects__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  margin: 2em auto;
}

.projects .projects__search .projects__technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  height: 2.4em;
  font-size: 0.7em;
  color: #616161;
}

.projects .projects__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 220px;
  background-color: #c5c6c7;
  background-image: url("../img/brows.jpg");
  background-position: center;
  background-size: cover;
}

.projects .projects__project .projects__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 20% auto;
}

.projects .projects__project .projects__title .projects__h3 {
  color: #0b0c10;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}

.projects .projects__project .projects__title .projects__tech-title {
  color: #66fcf1;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
}

.projects .projects__project .projects__learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  height: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/*# sourceMappingURL=main.css.map */